<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cafeteria"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

   <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
	
	<permission android:name="com.cafeteria.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.cafeteria.permission.C2D_MESSAGE" />

    <application
        android:name="com.cafeteria.CafeteriaApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Cafeteria" >
        <activity
            android:name="com.cafeteria.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cafeteria.activity.LoginActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.activity.SignupActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.activity.HomeBaseActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.activity.ChangePasswordActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.dashboard.StudentDashboardActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.dashboard.AdminDashboardActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.student.ScheduleActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        
        <activity
            android:name="com.cafeteria.student.ActivityEnterAvaialibility"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.admin.ActivityAssignShift"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.cafeteria.admin.CancelShiftActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
       
         <activity
            android:name="com.cafeteria.admin.OperatingHoursActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
       
        
        
        <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />

				<!--
				  IMPORTANT: If you change the package name of this sample app,
				  change "com.parse.tutorials.pushnotifications" in the lines
				  below to match the new package name.
				-->
				<category android:name="com.cafeteria" />
			</intent-filter>
		</receiver>
        
        
        
        
    </application>

</manifest>